Repository daotl/fes-starter: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix

chore: upgrade deps
  package.json
  pnpm-lock.yaml
Due: none

chore: switch back to UnoCSS icons
  package.json
  pnpm-lock.yaml
  src/components/UserCenter.vue
  src/config/pages.tsx
Due: eslint --cache --fix, stylelint --fix

chore: remove Webpack related deps
  .fes.js
  package.json
  pnpm-lock.yaml
Due: none

chore: upgrade deps
  package.json
  pnpm-lock.yaml
  src/types/auto-imports.d.ts
  src/types/components.d.ts
Due: eslint --cache --fix

chore: upgrade deps
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: none

style: fix ESLint issues
  package.json
  src/app.tsx
  src/config/page.ts
Due: eslint --cache --fix, stylelint --fix

fix: import "./styles/global.scss" manually in "app.tsx" because Fes.js import "global.scss" after scripts and Element Plus's auto-imported styles, causing CSS reset to override them
  pnpm-lock.yaml
  src/app.tsx
  src/global.scss
  src/styles/global.scss
Due: eslint --cache --fix, stylelint --fix

fix: import "./styles/global.scss" manually in "app.tsx" because Fes.js import "global.scss" after scripts and Element Plus's auto-imported styles, causing CSS reset to override them
  src/global.scss
  src/styles/global.scss
Due: stylelint --fix

fix: import "./styles/global.scss" manually in "app.tsx" because Fes.js import "global.scss" after scripts and Element Plus's auto-imported styles, causing CSS reset to override them
  src/global.scss
Due: stylelint --fix

docs: update README
  README.md
Due: none

setup: disable "vue/macros" auto-import and enable "reactivityTransform"
  .fes.js
  src/types/auto-imports.d.ts
Due: eslint --cache --fix

chore: add @vueuse dependencies
  package.json
  pnpm-lock.yaml
Due: none

chore: upgrade deps
  README.md
  package.json
  pnpm-lock.yaml
  src/types/auto-imports.d.ts
Due: eslint --cache --fix

chore: add @vueuse dependencies
  package.json
  pnpm-lock.yaml
  src/app.tsx
Due: eslint --cache --fix, stylelint --fix

setup: switch from Husky to Lefthook
  .husky/.gitignore
  .husky/pre-commit
  .lintstagedrc.json
  lefthook.yml
  package.json
  pnpm-lock.yaml
Due: none

setup: update npm script: stylelint
  package.json
Due: none

setup: update Lefthook lint configs
  lefthook.yml
Due: none

style: update .eslintrc.js
  .eslintrc.js
Due: none

setup: fix issue when component libraries in the workspace are using different versions of deps like Vue
  .fes.js
  .npmrc
Due: none

setup: add some Vite plugins for development and update README.md
  .fes.js
  README.md
  package.json
  pnpm-lock.yaml
  src/components/README.md
  src/types/auto-imports.d.ts
  src/types/components.d.ts
Due: eslint --cache --fix

chore: update README.md
  README.md
Due: none

feat: update layout plugin config
  .fes.js
  src/app.tsx
Due: eslint --cache --fix, stylelint --fix

feat: single page app template without Vue Router
  .fes.js
  index.html
  package.json
  pnpm-lock.yaml
  src/Content.vue
  src/app.tsx
  src/components/UserCenter.vue
  src/config/index.ts
  src/config/page.ts
  src/config/pages.tsx
  src/pages/README.md
  src/pages/index.vue
Due: eslint --cache --fix, stylelint --fix

setup: add .env with "VUE_EDITOR=code"
  .env
Due: none

setup: add .env with "VUE_EDITOR=code"
  .gitignore
Due: none

chore: remove unused script
  scripts/genPagesJson.ts
Due: none

docker: add Dockerfile with runtime config support
  docker/Caddyfile
  docker/Dockerfile.prebuilt
  docker/entrypoint.sh
  docker/rewrite-html-meta-config.sh
Due: none

style: chore
  .eslintignore
  package.json
  src/styles/global.scss
Due: stylelint --fix

style: chore
  pnpm-lock.yaml
Due: none

feat: add backend API configs
  docker/Caddyfile
  src/config/index.ts
Due: eslint --cache --fix

fix: use relative API URL to support deploying to subpath
  src/config/index.ts
Due: eslint --cache --fix

chore: upgrade deps
  package.json
  pnpm-lock.yaml
  src/types/auto-imports.d.ts
Due: eslint --cache --fix

feat: change Inspector option
  .fes.js
Due: none

feat: upgrade deps
  .stylelintrc.js
  package.json
  pnpm-lock.yaml
  src/config/page.ts
  src/types/auto-imports.d.ts
  src/types/components.d.ts
Due: eslint --cache --fix

Path conditions:
  eslint --cache --fix: any of: src/**/*.{js,ts,tsx,vue}
  stylelint --fix: any of: src/**/*.{css,scss,vue,tsx}
