Repository daotl/fes-starter: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix

.lintstagedrc.json:

{
  "src/**/*.{js,ts,tsx,vue}": "eslint --cache --fix",
  "src/**/*.{css,scss,vue,tsx}": "stylelint --fix"
}

fix: stylelint config for tsx
  .stylelintrc.js
  package.json
  pnpm-lock.yaml
Due: none

chore: add `.fes-production` to TypeScript alias for CI
  tsconfig.json
Due: none

chore: update deps
  package.json
  pnpm-lock.yaml
  src/types/auto-imports.d.ts
  src/types/components.d.ts
Due: eslint --cache --fix

add missing deps: `stylelint-config-recommended`
  package.json
  pnpm-lock.yaml
Due: none

chore: update deps
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: none

feat: add runtime config for pages
  .fes.js
  package.json
  pnpm-lock.yaml
  public/index.html
  scripts/genPagesJson.ts
  scripts/rewrite-html-meta-config.sh
  src/app.ts
  src/config/index.ts
  src/config/loader.ts
  src/config/page.ts
  src/config/pages.ts
Due: eslint --cache --fix

chore: update deps
  package.json
  pnpm-lock.yaml
Due: none

chore: remove a deprecated VSCode extension
  .vscode/extensions.json
Due: none

feat: add HOMEPAGE config and improve ENABLED_PAGES
  package.json
  public/index.html
  src/app.tsx
  src/config/index.ts
  src/config/loader.ts
  src/config/page.ts
  src/config/pages.ts
  src/pages/home.vue
  src/pages/index.vue
  src/types/components.d.ts
  tsconfig.json
Due: eslint --cache --fix, stylelint --fix

feat: ENABLED_PAGES support recursive including
  src/config/index.ts
  src/config/page.ts
Due: eslint --cache --fix

style
  package.json
  pnpm-lock.yaml
  public/index.html
Due: none

fix: pages config support hiding in sidebar
  .fes.js
  src/config/page.ts
  src/config/pages.js
  src/config/pages.ts
  src/pages/home.vue
Due: eslint --cache --fix, stylelint --fix

chore: upgrade deps
  package.json
  pnpm-lock.yaml
Due: none

fix: match both > and /> for meta tag ending
  scripts/rewrite-html-meta-config.sh
Due: none

chore: upgrade deps
  package.json
  pnpm-lock.yaml
  public/index.html
Due: none

fix: sed regex doesn't support non-greedy .*?
  scripts/rewrite-html-meta-config.sh
Due: none

chore: remove core-js from prod deps
  package.json
  pnpm-lock.yaml
Due: none

feat: re-import-element-plus-style
  scripts/genPagesJson.ts
  src/global.scss
  src/styles/element/index.scss
Due: stylelint --fix

style: style
  src/app.tsx
  src/global.scss
  src/styles/element-plus/index.scss
  src/types/components.d.ts
Due: eslint --cache --fix, stylelint --fix

feat: use runtime menus setting for layout
  .fes.js
  README.md
  src/app.tsx
  src/config/index.ts
  src/config/page.ts
  src/config/pages.js
  src/config/pages.tsx
  src/types/auto-imports.d.ts
Due: eslint --cache --fix, stylelint --fix

style
  src/config/pages.tsx
Due: eslint --cache --fix, stylelint --fix

style: import
  src/config/index.ts
Due: eslint --cache --fix

fix: temporally switch to xicons until @unocss/webpack bug is fixed
  .fes.js
  README.md
  package.json
  pnpm-lock.yaml
  src/app.tsx
  src/components/UserCenter.vue
  src/config/pages.tsx
  src/types/auto-imports.d.ts
  tsconfig.json
Due: eslint --cache --fix, stylelint --fix

feat: eslintignore add rule
  .eslintignore
Due: none

feat: add logger util
  package.json
  public/index.html
  src/app.tsx
  src/config/index.ts
  src/utils/log.ts
Due: eslint --cache --fix, stylelint --fix

WIP: update ESLint config
  .eslintrc.js
  package.json
  pnpm-lock.yaml
  src/app.tsx
  src/components/PageLoading.vue
  src/components/UserCenter.vue
  src/config/index.ts
  src/config/page.ts
  src/config/pages.tsx
  src/pages/home.vue
  tsconfig.json
Due: eslint --cache --fix, stylelint --fix

chore: update ESLint config
  .eslintrc.js
  .vscode/extensions.json
  .vscode/settings.json
  package.json
  src/app.tsx
  src/config/loader.ts
  src/pages/home.vue
  src/types/fes.shims.d.ts
  src/utils/log.ts
  tsconfig.json
Due: eslint --cache --fix, stylelint --fix

chore: update ESLint config
  .eslintrc.js
  .vscode/extensions.json
  package.json
  pnpm-lock.yaml
Due: none

chore: update Lint config
  .eslintrc.js
  package.json
  pnpm-lock.yaml
  src/types/shims.d.ts
Due: eslint --cache --fix

WIP: upgrade to Fes.js v3 with Vite
  .fes.js
  index.html
  package.json
  pnpm-lock.yaml
  src/types/auto-imports.d.ts
  src/types/components.d.ts
Due: eslint --cache --fix

WIP: upgrade to Fes.js v3 with Vite
  .fes.js
  index.html
  package.json
  pnpm-lock.yaml
  src/types/auto-imports.d.ts
  tsconfig.json
Due: eslint --cache --fix

WIP: upgrade to Fes.js v3 with Vite
  .fes.js
  index.html
  package.json
  pnpm-lock.yaml
  src/app.tsx
  src/types/auto-imports.d.ts
  tsconfig.json
Due: eslint --cache --fix, stylelint --fix
