Repository daotl/fes-starter: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix

.lintstagedrc.json:

{
  "src/**/*.{js,ts,tsx,vue}": "eslint --cache --fix",
  "src/**/*.{css,scss,vue,tsx}": "stylelint --fix"
}

fix: add TypeScript to devDependencies
  package-lock.json
  package.json
Due: none

docs: update README
  README.md
Due: none

feat: add eslint-webpack-plugin
  .fes.js
  package-lock.json
  package.json
Due: none

feat: add unplugin-auto-imports
  .eslintrc.js
  .fes.js
  package-lock.json
  package.json
  src/pages/index.vue
  src/types/auto-imports.d.ts
Due: eslint --cache --fix, stylelint --fix

feat: add unplugin-vue-components
  .fes.js
  .gitignore
  package-lock.json
  package.json
  src/types/components.d.ts
Due: eslint --cache --fix

feat: add ant-design-vue resolver for unplugin-auto-imports and unplugin-vue-components
  .fes.js
  src/components/PageLoading.vue
  src/types/components.d.ts
Due: eslint --cache --fix, stylelint --fix

feat: switch to Element Plus
  .fes.js
  package-lock.json
  package.json
  src/components/PageLoading.vue
  src/pages/index.vue
  src/types/auto-imports.d.ts
  src/types/components.d.ts
  tsconfig.json
Due: eslint --cache --fix, stylelint --fix

feat: add Iconify icons with unplugin-icons
  .fes.js
  README.md
  package-lock.json
  package.json
  src/components/UserCenter.vue
  src/types/auto-imports.d.ts
  src/types/components.d.ts
  tsconfig.json
Due: eslint --cache --fix, stylelint --fix

style: move <config> block to top
  src/pages/index.vue
Due: eslint --cache --fix, stylelint --fix

chore: update fes.js deps
  .vscode/extensions.json
  package-lock.json
  package.json
Due: none

chore: update fes.js deps
  .vscode/extensions.json
  package-lock.json
  package.json
  src/types/auto-imports.d.ts
  src/types/components.d.ts
Due: eslint --cache --fix

docs: links
  README.md
Due: none

fix: add 'node' and 'jest' to types in tsconfig.json
  .eslintrc.js
  tsconfig.json
Due: none

feat: add Pinia
  README.md
  package-lock.json
  package.json
  src/app.ts
  src/components/UserCenter.vue
  src/pages/index.vue
  src/stores/counter.ts
  src/stores/user.ts
  src/types/auto-imports.d.ts
  src/types/components.d.ts
Due: eslint --cache --fix, stylelint --fix

chore: update ESLint config, add import/export linting
  package-lock.json
  package.json
  src/app.ts
  src/pages/index.vue
  src/stores/counter.ts
  src/stores/user.ts
  src/types/auto-imports.d.ts
  src/types/components.d.ts
  src/types/shims.d.ts
Due: eslint --cache --fix, stylelint --fix

chore: switch to pnpm and update deps
  README.md
  package-lock.json
  package.json
  pnpm-lock.yaml
  src/global.scss
  tsconfig.json
Due: stylelint --fix

docs: pnpm
  README.md
Due: none

chore: update deps
  .fes.js
  package.json
  pnpm-lock.yaml
  src/types/auto-imports.d.ts
Due: eslint --cache --fix

fix: workaround for fes-plugin-layout bugs
  src/global.scss
Due: stylelint --fix

chore: config
  .eslintignore
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: none

chore: vscode settings
  .vscode/extensions.json
  .vscode/settings.json
Due: none

chore: update shims.d.ts
  src/types/shims.d.ts
Due: eslint --cache --fix

chore: update deps
  package.json
  pnpm-lock.yaml
  src/global.scss
  src/types/auto-imports.d.ts
  src/types/components.d.ts
Due: eslint --cache --fix, stylelint --fix

fix: update shims.d.ts
  src/types/shims.d.ts
Due: eslint --cache --fix

fix: <style scope> -> scoped
  src/components/UserCenter.vue
Due: eslint --cache --fix, stylelint --fix

fix: add `unplugin-element-plus` for importing some Element Plus styles
  .fes.js
  package.json
  pnpm-lock.yaml
Due: none

fix: eslint config for .js
  .eslintignore
  .eslintrc.js
  .fes.js
  tsconfig.json
Due: none

chore: update deps
  package.json
  pnpm-lock.yaml
Due: none

chore: add `fes.shims.d.ts`
  src/types/auto-imports.d.ts
  src/types/fes.shims.d.ts
Due: eslint --cache --fix

fix: update fes useRouter shim
  package.json
  src/types/fes.shims.d.ts
Due: eslint --cache --fix

chore: upgrade to Element Plus 2.x
  .fes.js
  package.json
  pnpm-lock.yaml
Due: none

fix: update Stylelint rules
  .stylelintrc.js
Due: none

refactor: change `::v-deep` to `:deep`
  .stylelintrc.js
Due: none

fix: .stylelint.js
  .stylelintrc.js
Due: none

fix: lint commands
  package.json
Due: none

chore: update deps, remove `unplugin-icons`
  package.json
  pnpm-lock.yaml
Due: none

feat: add `UnoCSS`, remove `unplugin-iconify`
  .fes.js
  .gitignore
  .vscode/extensions.json
  README.md
  package.json
  pnpm-lock.yaml
  src/app.ts
  src/components/UserCenter.vue
  src/global.scss
  src/styles/markdown.css
  src/types/auto-imports.d.ts
  src/types/components.d.ts
  unocss.config.ts
Due: eslint --cache --fix, stylelint --fix
